<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:/temp/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="errorFile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}"/>
    <target name="debugFile" xsi:type="File" fileName="${basedir}/logs/debug/${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}"/>
    <target name="warnFile" xsi:type="File" fileName="${basedir}/logs/warn/${shortdate}.log"
        layout="${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" maxLevel="Fatal" writeTo="errorFile" />
    <logger name="*" minlevel="Warn" maxLevel="Warn" writeTo="warnFile" />
    <logger name="*" minlevel="Trace" maxLevel="Info" writeTo="debugFile" />
  </rules>
</nlog>