
@{
    ViewBag.Title = "订单流水按区域提取";
    Layout = "~/Views/Shared/_MetadataUpload.cshtml";
}

@section scripts{
    <script>

        require(["dojo/ready", "dijit/registry", "dojo/request/iframe", "dojo/request/xhr", "dojo/dom"], function (ready, registry, iframe, xhr, dom) {
            ready(function () {
                var wbtnDataProcessing = registry.byId("btnDataProcessing");
                wbtnDataProcessing.on("click", processingMetadata);
            });//ready


            function processingMetadata() {


                iframe("/Orders/ExtractAreaHandle", {
                    form: "uploadBoxForm"
                }).then(function (doc) {
                    //var data = doc.getElementsByTagName('textarea')[0].value;
                    console.log('res', doc);
                }, function (err) {
                    console.log('error', err);
                });


            }//processingMetadata

        });//require
    </script>
}

@section uploadbox{

    <form method="post" enctype="multipart/form-data" id="uploadBoxForm">
        <div class="form-item">
            <label for="orderRecord">订单流水</label>
            <input type="file" data-dojo-type="dojox/form/Uploader" label="选取文件" name="orderFile" id="orderFile" accept=".xlsx" />
        </div>
        <div class="form-item">
            <label>筛选区域</label>
            <input type="text" data-dojo-type="dijit/form/TextBox" name="area" id="area" placeholder="逗号分隔的区域名称" />
        </div>


        <button data-dojo-type="dijit/form/Button" id="btnDataProcessing">数据处理</button>
    </form>
}


@section description{
    <h5>订单流水按区域切分功能说明:</h5>
}

