
@{
    ViewBag.Title = "配货绩效";
    Layout = "~/Views/Shared/_MetadataUpload.cshtml";
}

@section scripts{
    <script>
        require(["dojo/ready", "dijit/registry", "dojo/request/iframe", "dojo/on", "dojo/dom", "dojo/topic"], function (ready, registry, iframe, on, dom, topic) {
            ready(function () {
                on(dom.byId("nav"), "click", function () { location.href = "/"; });
                registry.byId("btnWorkHoursUpload").on("click", uploadWorkHoursMetadata);
                registry.byId("btnProcesingPerfData").on("click", uploadDailyPerfMetadata);
                registry.byId("workHourMonth").set("value", new Date().getMonth());//初始化月工作时间的月份信息
                registry.byId("pickingDate").set("value", new Date());//初始化月工作时间的月份信息
            });//ready

            function uploadWorkHoursMetadata() {
                var wform = registry.byId("monthlyWorkingHoursForm");
                if (!wform.validate()) return;

                topic.publish("DataProcessing");
                iframe("/Salaries/MonthlyWorkingHoursHandle", {
                    form: "monthlyWorkingHoursForm"
                }).then(function () {
                    topic.publish("DataProcessCompleted");
                    topic.publish("TipOperateSuccessfully");
                }, function (err) {
                    topic.publish("DataProcessCompleted");
                    topic.publish("ReportErrorMessage", err);
                });
            }//uploadWorkHoursMetadata


            function uploadDailyPerfMetadata() {
                var wform = registry.byId("dailyPerfForm");
                if (!wform.validate()) return;



            }//uploadDailyPerfMetadata
        });//require
    </script>
}


@section uploadbox{
    <form method="post" enctype="multipart/form-data" data-dojo-type="dijit/form/Form" id="monthlyWorkingHoursForm">
        <p class="form-title">月上班时间信息</p>
        <div class="form-item required">
            <label>月份</label>
            <input type="number" data-dojo-type="dijit/form/NumberSpinner" data-dojo-props="constraints:{min:1,max:12}" name="month" id="workHourMonth" required />
        </div>
        <div class="form-item required">
            <label for="orderRecord">上班时间</label>
            <div data-dojo-type="mytool/singleUploader" data-dojo-props="name:'monthlyWorkingHoursFile',accept:'.xlsx',required:true"></div>
        </div>
        <button data-dojo-type="dijit/form/Button" id="btnWorkHoursUpload">数据上传</button>
        <p class="form-tip">该数据每个月上传一次就好了,不用每天都上传,不过如果不确定是否上传过,再来一次也可以</p>
    </form>
}

@section custom{
    <div class="upload-box">
        <form method="post" enctype="multipart/form-data" data-dojo-type="dijit/form/Form" id="dailyPerfForm">
            <p class="form-title">当天绩效计算</p>
            <div class="form-group">
                <div class="form-item required">
                    <label>绩效日期</label>
                    <input type="number" data-dojo-type="dijit/form/DateTextBox" name="pickingDate" id="pickingDate" required />
                </div>
                <div class="form-item required">
                    <label>拣货单</label>
                    <div data-dojo-type="mytool/singleUploader" data-dojo-props="name:'pickingFile',accept:'.xlsx',required:true"></div>
                </div>
                <div class="form-item required">
                    <label>大单</label>
                    <div data-dojo-type="mytool/singleUploader" data-dojo-props="name:'randomFile',accept:'.xlsx',required:true"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-item required">
                    <label>张数定值</label>
                    <input type="number" data-dojo-type="dijit/form/NumberTextBox" name="paperAmount" id="paperAmount" value="208" required />
                </div>
                <div class="form-item required">
                    <label>张数占比</label>
                    <input type="number" data-dojo-type="dijit/form/NumberTextBox" name="paperRate" id="paperRate" value="0.75" required />
                </div>
                <div class="form-item required">
                    <label>数量定值</label>
                    <input type="number" data-dojo-type="dijit/form/NumberTextBox" name="pickingAmount" id="pickingAmount" value="1186" required />
                </div>
                <div class="form-item required">
                    <label>数量占比</label>
                    <input type="number" data-dojo-type="dijit/form/NumberTextBox" name="pickingRate" id="pickingRate" value="0.25" required />
                </div>
            </div>
            <button data-dojo-type="dijit/form/Button" id="btnProcesingPerfData">绩效计算</button>
        </form>
    </div>
}
