
@{
    ViewBag.Title = "配货绩效";
    Layout = "~/Views/Shared/_MetadataUpload.cshtml";
}

@section styles{
    <style>
        div.wholeMonthPerfs {
            padding-left: 1rem;
        }

            div.wholeMonthPerfs > span {
                padding-right: 1rem;
            }
    </style>
}

@section scripts{
    <script>
        require(["dojo/ready", "dijit/registry", "dojo/request/iframe", "dojo/request/xhr", "dojo/on", "dojo/dom", "dojo/topic", "dojo/dom-form", "dojo/dom-construct"], function (ready, registry, iframe, xhr, on, dom, topic, domForm, domConstruct) {
            ready(function () {
                var currentDate = new Date();
                on(dom.byId("nav"), "click", function () { location.href = "/"; });
                on(dom.byId("watchWholeMonthPerf"), "click", watchWholeMonthPerfMessage);
                registry.byId("btnWorkHoursUpload").on("click", uploadWorkHoursMetadata);
                registry.byId("btnProcesingPerfData").on("click", uploadDailyPerfMetadata);
                registry.byId("btnDownloadDailyPerfData").on("click", downloadDailyPerfTable);
                registry.byId("btnDownloadMonthlyPerfData").on("click", downloadMonthlyPerfTable);
                registry.byId("workHourMonth").set("value", currentDate.getMonth() + 1);//初始化月工作时间的月份信息
                registry.byId("pickingDate").set("value", currentDate);//初始化月工作时间的月份信息
                registry.byId("dowloadPickingDate").set("value", currentDate);//初始化月工作时间的月份信息
            });//ready

            function uploadWorkHoursMetadata() {
                var wform = registry.byId("monthlyWorkingHoursForm");
                if (!wform.validate()) return;

                topic.publish("DataProcessing");
                iframe("/Salaries/MonthlyWorkingHoursHandle", {
                    form: "monthlyWorkingHoursForm"
                }).then(function () {
                    topic.publish("DataProcessCompleted");
                    topic.publish("TipOperateSuccessfully");
                }, function (err) {
                    topic.publish("DataProcessCompleted");
                    topic.publish("ReportErrorMessage", err);
                });
            }//uploadWorkHoursMetadata

            function prepareDowloadPerfMessage(url, handleAs) {
                return xhr.post(url ? url : "/Salaries/DownloadSpecifyDatePerf", {
                    handleAs: handleAs ? handleAs : "text", headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }, data: domForm.toQuery("perfDownloadForm")
                });
            }//prepareDowloadPerfMessage

            function uploadDailyPerfMetadata() {
                var wform = registry.byId("dailyPerfForm");
                if (!wform.validate()) return;

                topic.publish("DataProcessing");
                iframe("/Salaries/DailyWorkingHoursHandler", {
                    form: "dailyPerfForm"
                }).then(function (path) {
                    topic.publish("DownloadProcessExel", path);
                    topic.publish("DataProcessCompleted");
                }, function (err) {
                    topic.publish("DataProcessCompleted");
                    topic.publish("ReportErrorMessage", err);
                });
            }//uploadDailyPerfMetadata

            function downloadDailyPerfTable() {
                var wform = registry.byId("perfDownloadForm");
                if (!wform.validate()) return;

                topic.publish("DataProcessing");
                prepareDowloadPerfMessage().then(function (path) {
                    topic.publish("DataProcessCompleted");
                    if (path != "")
                        topic.publish("DownloadProcessExel", path);
                    else
                        topic.publish("ReportMessage", "没有查找到该日期的绩效信息");
                }, function (err) {
                    topic.publish("DataProcessCompleted");
                    topic.publish("ReportErrorMessage", err);
                });
            }//downloadDailyPerfTable

            function downloadMonthlyPerfTable() {
                topic.publish("DataProcessing");
                prepareDowloadPerfMessage("/Salaries/DownloadMonthPerf").then(function (path) {
                    topic.publish("DataProcessCompleted");
                    if (path != "")
                        topic.publish("DownloadProcessExel", path);
                    else
                        topic.publish("ReportMessage", "该月份没有上传计算过任何一天的绩效信息");
                }, function (err) {
                    topic.publish("DataProcessCompleted");
                    topic.publish("ReportErrorMessage", err);
                });
            }//downloadMonthlyPerfTable

            function watchWholeMonthPerfMessage() {
                var wform = registry.byId("perfDownloadForm");
                if (!wform.validate()) return;
                topic.publish("DataProcessing");
                prepareDowloadPerfMessage("/Salaries/WatchWholeMonthPerfMessage", "json").then(function (arr) {
                    var container = dom.byId("wholeMonthPerfs");
                    domConstruct.empty(container);
                    if (arr && arr.length > 0) {
                        for (var i = 0, len = arr.length; i < len; i++) {
                            domConstruct.place("<span>" + arr[i] + "</span>", container);
                        }
                    }
                    else {
                        domConstruct.place("<span>该月份没有绩效信息哦</span>", container);
                    }
                    topic.publish("DataProcessCompleted");
                }, function (err) {
                    topic.publish("DataProcessCompleted");
                    topic.publish("ReportErrorMessage", err);
                });
            }//watchWholeMonthPerfMessage
        });//require
    </script>
}


@section uploadbox{
    <form method="post" enctype="multipart/form-data" data-dojo-type="dijit/form/Form" id="monthlyWorkingHoursForm">
        <p class="form-title">月上班时间信息</p>
        <div class="form-item required">
            <label>月份</label>
            <input type="number" data-dojo-type="dijit/form/NumberSpinner" data-dojo-props="constraints:{min:1,max:12}" name="month" id="workHourMonth" required />
        </div>
        <div class="form-item required">
            <label for="orderRecord">上班时间</label>
            <div data-dojo-type="mytool/singleUploader" data-dojo-props="name:'monthlyWorkingHoursFile',accept:'.xlsx',required:true"></div>
        </div>
        <button data-dojo-type="dijit/form/Button" id="btnWorkHoursUpload">数据上传</button>
        <p class="form-tip">该数据每个月上传一次就好了不用每天都上传，不过如果不确定是否上传过或者数据有改动，再来一次也可以</p>
    </form>
}

@section custom{
    <div class="upload-box">
        <form method="post" enctype="multipart/form-data" data-dojo-type="dijit/form/Form" id="dailyPerfForm">
            <p class="form-title">当天绩效计算</p>
            <div class="form-group">
                <div class="form-item required">
                    <label>绩效日期</label>
                    <input type="text" data-dojo-type="dijit/form/DateTextBox" name="pickingDate" id="pickingDate" required />
                </div>
                <div class="form-item required">
                    <label>拣货单</label>
                    <div data-dojo-type="mytool/singleUploader" data-dojo-props="name:'pickingFile',accept:'.xlsx',required:true"></div>
                </div>
                <div class="form-item required">
                    <label>大单</label>
                    <div data-dojo-type="mytool/singleUploader" data-dojo-props="name:'randomFile',accept:'.xlsx',required:true"></div>
                </div>
                <div class="form-item required">
                    <label>配货人员</label>
                    <div data-dojo-type="mytool/singleUploader" data-dojo-props="name:'areaRepFile',accept:'.xlsx',required:true"></div>
                </div>
                <div class="form-item">
                    <label for="orderRecord">帮忙时间</label>
                    <div data-dojo-type="mytool/singleUploader" data-dojo-props="name:'helpingHoursFile',accept:'.xlsx'"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-item required">
                    <label>张数定值</label>
                    <input type="number" data-dojo-type="dijit/form/NumberTextBox" name="paperAmount" id="paperAmount" value="208" required />
                </div>
                <div class="form-item required">
                    <label>张数占比</label>
                    <input type="number" data-dojo-type="dijit/form/NumberTextBox" name="paperRate" id="paperRate" value="0.75" required />
                </div>
                <div class="form-item required">
                    <label>数量定值</label>
                    <input type="number" data-dojo-type="dijit/form/NumberTextBox" name="pickingAmount" id="pickingAmount" value="1186" required />
                </div>
                <div class="form-item required">
                    <label>数量占比</label>
                    <input type="number" data-dojo-type="dijit/form/NumberTextBox" name="pickingRate" id="pickingRate" value="0.25" required />
                </div>
                <button data-dojo-type="dijit/form/Button" id="btnProcesingPerfData">绩效计算</button>
            </div>
            <p class="form-tip">帮忙时间如果当天没有可以不用上传</p>
            <p class="form-tip">如果某天绩效忘记算了或者数据有改动，可以直接把数据上传再算一次</p>
            <p class="form-tip">如果想查看一下某个月份所有算过的绩效信息，可以在下面的“历史绩效下载”里面，随便选择这个月份的某个日期，然后点击“我想看看和上面这个指定“绩效日期”月份相关的所有历史绩效信息”这句话，就可以看到啦</p>
        </form>
    </div>

    <div class="upload-box">
        <form data-dojo-type="dijit/form/Form" id="perfDownloadForm">
            <p class="form-title">历史绩效下载</p>
            <div class="form-item required">
                <label>绩效日期</label>
                <input type="text" data-dojo-type="dijit/form/DateTextBox" name="dowloadPickingDate" id="dowloadPickingDate" required />
            </div>

            <button data-dojo-type="dijit/form/Button" id="btnDownloadDailyPerfData">下载当天绩效</button>
            <button data-dojo-type="dijit/form/Button" id="btnDownloadMonthlyPerfData">下载全月绩效</button>
            <p class="tip-link" id="watchWholeMonthPerf">我想看看和上面这个指定“绩效日期”月份相关的所有历史绩效信息</p>
            <div class="wholeMonthPerfs" id="wholeMonthPerfs"></div>
        </form>
    </div>
}
