
@{
    ViewBag.Title = "配货绩效";
    Layout = "~/Views/Shared/_MetadataUpload.cshtml";
}

@section styles{
    <style>
        div.wholeMonthPerfs {
            padding-left: 1rem;
        }

            div.wholeMonthPerfs > span {
                padding-right: 1rem;
            }
    </style>
}

@section scripts{
    <script>
        require(["dojo/ready", "dijit/registry", "dojo/request/iframe", "dojo/request/xhr", "dojo/on", "dojo/dom", "dojo/topic", "dojo/dom-form", "dojo/dom-construct"], function (ready, registry, iframe, xhr, on, dom, topic, domForm, domConstruct) {
            ready(function () {
                var currentDate = new Date();
                on(dom.byId("nav"), "click", function () { location.href = "/"; });
                on(dom.byId("watchWholeMonthPerf"), "click", watchWholeMonthPerfMessage);
                registry.byId("btnWorkHoursUpload").on("click", uploadWorkHoursMetadata);
                registry.byId("btnProcesingPerfData").on("click", uploadDailyPerfMetadata);
                registry.byId("btnDownloadDailyPerfData").on("click", downloadDailyPerfTable);
                registry.byId("btnDownloadMonthlyPerfData").on("click", downloadMonthlyPerfTable);
                registry.byId("workHourMonth").set("value", currentDate.getMonth() + 1);//初始化月工作时间的月份信息
                registry.byId("pickingDate").set("value", currentDate);//初始化月工作时间的月份信息
                registry.byId("dowloadPickingDate").set("value", currentDate);//初始化月工作时间的月份信息
            });//ready

            function uploadWorkHoursMetadata() {
                var wform = registry.byId("monthlyWorkingHoursForm");
                if (!wform.validate()) return;

                topic.publish("DataProcessing");
                iframe("/Salaries/MonthlyWorkingHoursHandle", {
                    form: "monthlyWorkingHoursForm"
                }).then(function () {
                    topic.publish("DataProcessCompleted");
                    topic.publish("TipOperateSuccessfully");
                }, function (err) {
                    topic.publish("DataProcessCompleted");
                    topic.publish("ReportErrorMessage", err);
                });
            }//uploadWorkHoursMetadata

            function prepareDowloadPerfMessage(url, handleAs) {
                return xhr.post(url ? url : "/Salaries/DownloadSpecifyDatePerf", {
                    handleAs: handleAs ? handleAs : "text", headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }, data: domForm.toQuery("perfDownloadForm")
                });
            }//prepareDowloadPerfMessage

            function uploadDailyPerfMetadata() {
                var wform = registry.byId("dailyPerfForm");
                if (!wform.validate()) return;

                topic.publish("DataProcessing");
                iframe("/Salaries/DailyWorkingHoursHandler", {
                    form: "dailyPerfForm"
                }).then(function (path) {
                    topic.publish("DownloadProcessExel", path);
                    topic.publish("DataProcessCompleted");
                }, function (err) {
                    topic.publish("DataProcessCompleted");
                    topic.publish("ReportErrorMessage", err);
                });
            }//uploadDailyPerfMetadata

            function downloadDailyPerfTable() {
                var wform = registry.byId("perfDownloadForm");
                if (!wform.validate()) return;

                topic.publish("DataProcessing");
                prepareDowloadPerfMessage().then(function (path) {
                    topic.publish("DataProcessCompleted");
                    if (path != "")
                        topic.publish("DownloadProcessExel", path);
                    else
                        topic.publish("ReportMessage", "没有查找到该日期的绩效信息");
                }, function (err) {
                    topic.publish("DataProcessCompleted");
                    topic.publish("ReportErrorMessage", err);
                });
            }//downloadDailyPerfTable

            function downloadMonthlyPerfTable() {
                topic.publish("DataProcessing");
                prepareDowloadPerfMessage("/Salaries/DownloadMonthPerf").then(function (path) {
                    topic.publish("DataProcessCompleted");
                    if (path != "")
                        topic.publish("DownloadProcessExel", path);
                    else
                        topic.publish("ReportMessage", "该月份没有上传计算过任何一天的绩效信息");
                }, function (err) {
                    topic.publish("DataProcessCompleted");
                    topic.publish("ReportErrorMessage", err);
                });
            }//downloadMonthlyPerfTable

            function watchWholeMonthPerfMessage() {
                var wform = registry.byId("perfDownloadForm");
                if (!wform.validate()) return;
                topic.publish("DataProcessing");
                prepareDowloadPerfMessage("/Salaries/WatchWholeMonthPerfMessage", "json").then(function (arr) {
                    var container = dom.byId("wholeMonthPerfs");
                    domConstruct.empty(container);
                    if (arr && arr.length > 0) {
                        for (var i = 0, len = arr.length; i < len; i++) {
                            domConstruct.place("<span>" + arr[i] + "</span>", container);
                        }

                        var currentDate = registry.byId("dowloadPickingDate").get("value");
                        var daysOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0).getDate();
                        domConstruct.place("<p>" + "该月份共有" + daysOfMonth + "天,当前该月有" + arr.length + "天的绩效信息" + "</p>", container);
                    }
                    else {
                        domConstruct.place("<span>该月份没有绩效信息哦</span>", container);
                    }
                    topic.publish("DataProcessCompleted");
                }, function (err) {
                    topic.publish("DataProcessCompleted");
                    topic.publish("ReportErrorMessage", err);
                });
            }//watchWholeMonthPerfMessage
        });//require
    </script>
}


@section uploadbox{
    <form method="post" enctype="multipart/form-data" data-dojo-type="dijit/form/Form" id="monthlyWorkingHoursForm">
        <p class="form-title">月上班时间信息</p>
        <div class="form-item required">
            <label>月份</label>
            <input type="number" data-dojo-type="dijit/form/NumberSpinner" data-dojo-props="constraints:{min:1,max:12}" name="month" id="workHourMonth" required />
        </div>
        <div class="form-item required">
            <label for="orderRecord">上班时间</label>
            <div data-dojo-type="mytool/singleUploader" data-dojo-props="name:'monthlyWorkingHoursFile',accept:'.xlsx',required:true"></div>
        </div>
        <button data-dojo-type="dijit/form/Button" id="btnWorkHoursUpload">数据上传</button>
        <p class="form-tip">该数据每个月上传一次就好了不用每天都上传，不过如果不确定是否上传过或者数据有改动，再来一次也可以</p>
    </form>
}

@section custom{
    <div class="upload-box">
        <form method="post" enctype="multipart/form-data" data-dojo-type="dijit/form/Form" id="dailyPerfForm">
            <p class="form-title">当天绩效计算</p>
            <div class="form-group">
                <div class="form-item required">
                    <label>绩效日期</label>
                    <input type="text" data-dojo-type="dijit/form/DateTextBox" name="pickingDate" id="pickingDate" required />
                </div>
                <div class="form-item required">
                    <label>拣货单</label>
                    <div data-dojo-type="mytool/singleUploader" data-dojo-props="name:'pickingFile',accept:'.xlsx',required:true"></div>
                </div>
                <div class="form-item required">
                    <label>大单</label>
                    <div data-dojo-type="mytool/singleUploader" data-dojo-props="name:'randomFile',accept:'.xlsx',required:true"></div>
                </div>
                <div class="form-item required">
                    <label>配货人员</label>
                    <div data-dojo-type="mytool/singleUploader" data-dojo-props="name:'areaRepFile',accept:'.xlsx',required:true"></div>
                </div>
                <div class="form-item">
                    <label for="orderRecord">帮忙时间</label>
                    <div data-dojo-type="mytool/singleUploader" data-dojo-props="name:'helpingHoursFile',accept:'.xlsx'"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-item required">
                    <label>张数定值</label>
                    <input type="number" data-dojo-type="dijit/form/NumberTextBox" name="paperAmount" id="paperAmount" value="208" required />
                </div>
                <div class="form-item required">
                    <label>张数占比</label>
                    <input type="number" data-dojo-type="dijit/form/NumberTextBox" name="paperRate" id="paperRate" value="0.75" required />
                </div>
                <div class="form-item required">
                    <label>数量定值</label>
                    <input type="number" data-dojo-type="dijit/form/NumberTextBox" name="pickingAmount" id="pickingAmount" value="1186" required />
                </div>
                <div class="form-item required">
                    <label>数量占比</label>
                    <input type="number" data-dojo-type="dijit/form/NumberTextBox" name="pickingRate" id="pickingRate" value="0.25" required />
                </div>
                <button data-dojo-type="dijit/form/Button" id="btnProcesingPerfData">绩效计算</button>
            </div>
            <p class="form-tip">帮忙时间如果当天没有可以不用上传</p>
            <p class="form-tip">如果某天绩效忘记算了或者数据有改动，可以直接把数据上传再算一次</p>
            <p class="form-tip">如果想查看一下某个月份所有算过的绩效信息，可以在下面的“历史绩效下载”里面，随便选择这个月份的某个日期，然后点击“我想看看和上面这个指定“绩效日期”月份相关的所有历史绩效信息”这句话，就可以看到啦</p>
        </form>
    </div>

    <div class="upload-box">
        <form data-dojo-type="dijit/form/Form" id="perfDownloadForm">
            <p class="form-title">历史绩效下载</p>
            <div class="form-item required">
                <label>绩效日期</label>
                <input type="text" data-dojo-type="dijit/form/DateTextBox" name="dowloadPickingDate" id="dowloadPickingDate" required />
            </div>

            <button data-dojo-type="dijit/form/Button" id="btnDownloadDailyPerfData">下载当天绩效</button>
            <button data-dojo-type="dijit/form/Button" id="btnDownloadMonthlyPerfData">下载全月绩效</button>
            <p class="tip-link" id="watchWholeMonthPerf">我想看看和上面这个指定“绩效日期”月份相关的所有历史绩效信息</p>
            <div class="wholeMonthPerfs" id="wholeMonthPerfs"></div>
        </form>
    </div>
}

@section description{
    <h4>使用说明:</h4>
    <p class="des">1. 软件会存储所有计算过的绩效信息，如果绩效表格不慎丢失,在“历史绩效下载”功能区再下载一次就好了</p>
    <p class="des">2. 软件原数据表格都为xlsx，具体表格所需要的列信息如下：(注意：表格的列不需要按顺序，有这些列就好了,如果多其他列无所谓，如果没有特别说明，表格一般只包含一张表，表名不限)</p>
    <table class="field-des">
        <tr>
            <td colspan="32" class="title">月上班时间表格示例</td>
        </tr>
        <tr>
            <td>姓名</td>
            <td>1号</td>
            <td>2号</td>
            <td>3号</td>
            <td>4号</td>
            <td>5号</td>
            <td>6号</td>
            <td>7号</td>
            <td>8号</td>
            <td>9号</td>
            <td>10号</td>
            <td>11号</td>
            <td>12号</td>
            <td>13号</td>
            <td>14号</td>
            <td>15号</td>
            <td>16号</td>
            <td>17号</td>
            <td>18号</td>
            <td>19号</td>
            <td>20号</td>
            <td>21号</td>
            <td>22号</td>
            <td>23号</td>
            <td>24号</td>
            <td>25号</td>
            <td>26号</td>
            <td>27号</td>
            <td>28号</td>
            <td>29号</td>
            <td>30号</td>
            <td>31号</td>
        </tr>
        <tr>
            <td>小明</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>4</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>6</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>0</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
            <td>7.5</td>
        </tr>
    </table>

    <table class="field-des">
        <tr>
            <td colspan="2" class="title">拣货单表格示例</td>
        </tr>
        <tr>
            <td>商品明细</td>
            <td>库位号</td>
        </tr>
        <tr>
            <td>DNFB2B66-S-2*1;</td>
            <td>002-16-06-02;</td>
        </tr>
    </table>

    <table class="field-des">
        <tr>
            <td colspan="2" class="title">大单表格示例</td>
        </tr>
        <tr>
            <td>商品明细</td>
            <td>库位号</td>
        </tr>
        <tr>
            <td>HADA12A96-12*1;HADA12A96-13*1;HADA12A16-9*2;</td>
            <td>003-72-01-03;Q17R01-L4-06;Q17R01-L4-07;</td>
        </tr>
    </table>

    <table class="field-des">
        <tr>
            <td colspan="2" class="title">配货人员表格示例</td>
        </tr>
        <tr>
            <td>配货人员</td>
            <td>库位</td>
        </tr>
        <tr>
            <td>杨伟伟</td>
            <td>A00</td>
        </tr>
        <tr>
            <td>杨伟伟</td>
            <td>A01</td>
        </tr>
        <tr>
            <td>胡小燕</td>
            <td>A03</td>
        </tr>
    </table>

    <table class="field-des">
        <tr>
            <td colspan="2" class="title">帮忙时间表格示例</td>
        </tr>
        <tr>
            <td>姓名</td>
            <td>工作时间</td>
        </tr>
        <tr>
            <td>小明</td>
            <td>0:00:00</td>
        </tr>
        <tr>
            <td>乐乐</td>
            <td>0:50:00</td>
        </tr>
        <tr>
            <td>小红</td>
            <td>2:30:00</td>
        </tr>
    </table>
}
