
@{
    ViewBag.Title = "仓库加班考勤统计";
    Layout = "~/Views/Shared/_MetadataUpload.cshtml";
}

@section scripts{
    <script>
        require(["dojo/ready", "dijit/registry", "dojo/request/iframe", "dojo/on", "dojo/dom", "dojo/topic"], function (ready, registry, iframe, on, dom, topic) {
            ready(function () {
                var wbtnDataProcessing = registry.byId("btnDataProcessing");
                on(dom.byId("nav"), "click", function () { location.href = "/"; });
                wbtnDataProcessing.on("click", processingMetadata);
            });//ready

            function processingMetadata() {
                var wform = registry.byId("uploadBoxForm");
                var valid = wform.validate();
                if (!valid) return;

                topic.publish("DataProcessing");
                iframe("/Salaries/WarehouseOvertimeHandle", {
                    form: "uploadBoxForm"
                }).then(function (path) {
                    topic.publish("DownloadProcessExel", path);
                    topic.publish("DataProcessCompleted");
                }, function (err) {
                    topic.publish("DataProcessCompleted");
                    topic.publish("ReportErrorMessage", err);
                });
            }//processingMetadata
        });//require
    </script>
}

@section uploadbox{
    <form method="post" enctype="multipart/form-data" data-dojo-type="dijit/form/Form" id="uploadBoxForm">
        <div class="form-item required">
            <label>月份</label>
            <input type="number" data-dojo-type="dijit/form/NumberTextBox" data-dojo-props="constraints:{min:1,max:12}" name="month" id="month" required />
        </div>
        <div class="form-item required">
            <label for="orderRecord">考勤表</label>
            <div data-dojo-type="mytool/singleUploader" data-dojo-props="name:'signinFile',accept:'.xlsx',required:true"></div>
        </div>
        <button data-dojo-type="dijit/form/Button" id="btnDataProcessing">数据处理</button>
    </form>
}

@section description{
    <h4 class="title">仓库加班考勤统计功能说明：</h4>
    <p class="des">此小工具针对公司考勤软件中导出的打卡详情表格进行加班时间统计，具体统计方式此次不做说明</p>
    <h4 class="title">使用说明:</h4>
    <p class="des">1. 月份是考勤的月份信息（不一定是当月哦），是必填信息</p>
    <p class="des warn">2. 考勤表格的格式很重要，表格一定要包含一张名称为“打卡时间”表（可以包含其他不相关的表），具体表格的列信息此处不做说明（如果公司导出的表格格式有变，请通知管理员修改软件）</p>
}
