div.mytool-multipleUploader {
    display: inline-block;
}

div.mytool-multipleUploader input[type="text"] {
    width: 100%;
    min-width: 240px;
    font: inherit;
    font-style: italic;
    line-height: normal;
    line-height: normal;
    padding: 2px 4px;
    text-align: start;
    color: #000000;
    border: 1px solid #b5bcc7;
    outline: none;
}

div.mytool-multipleUploader input[type="text"].required {
    border-color: #d46464;
}

div.mytool-multipleUploader input[type="text"].required::placeholder {
    color: #d46464;
}

div.mytool-multipleUploader input[type="text"]:hover {
    border-color: #759dc0;
    background-color: #e5f2fe;
    cursor: pointer;
}

div.mytool-multipleUploader input[type="file"] {
    display: none;
}